.popup {
    height: 100vh;
    width: 100%;
    background-color: rgba($color-black, .8);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    opacity: 0;
    // by doing opacity=0, the content will have opacity 0 but it will be still present there.
    // therefore we need to do visibility hidden also.
    visibility: hidden;
    transition: all .3s;

    // feature query
    // If the browser supports backdrop-filter then only it will be applied otherwise not. 
    @supports(-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
        -webkit-backdrop-filter: blur(10px);
        backdrop-filter: blur(10px);
        background-color: rgba($color-black, .3);
        // brightness is also a property to use.
    }

    &__content {
        @include absoluteCenter;

        width: 75%;
        background-color: $color-white;
        box-shadow: 0 2rem 4rem rgba($color-black, .2);
        border-radius: 3px;
        display: table;
        opacity: 0;
        transform: translate(-50%, -50%) scale(.25);
        transition: all .4s .2s;
        // transition is delayed by '.2s' so that background will come first and then content will show up after .2s
    }

    &__left {
        width: 34%;
        display: table-cell;
    }

    &__img {
        display: block;
        width: 100%;
    }

    &__right {
        width: 66%;
        display: table-cell;
        vertical-align: middle;
        padding: 3rem 5rem;
    }

    &__text {
        font-size: 1.4rem;
        margin-bottom: 4rem;

        -moz-column-count: 2;
        -moz-column-gap: 4rem; // 1em = 14px;
        -moz-column-rule: 1px solid $color-light-grey-2;

        column-count: 2;
        column-gap: 4rem; // 1em = 14px;
        column-rule: 1px solid $color-light-grey-2;

        // For Chrome - hyphens will work only for Andriod and macOS chrome
        -moz-hyphens: auto;
        -ms-hyphens: auto;
        -webkit-hyphens: auto;
        hyphens: auto;

    }
    
    // Open states
    &:target {
        opacity: 1;
        visibility: visible;
    }

    &:target &__content {
        opacity: 1;
        transform: translate(-50%, -50%) scale(1);
    }

    &__close {
        &:link,
        &:visited {
            color: $color-dark-grey;
            position: absolute;
            top: 2.5rem;
            right: 2.5rem;
            text-decoration: none;
            font-size: 3rem;
            display: inline-block;
            transition: all .2s;
            line-height: 1;
        }

        &:hover {
            color: $color-green-primary;
        }
    }

}